In [3]:
import pandas as pd
import preprocessing
import checkDevices
import metrics

In [4]:
example1 = pd.read_csv('test-data/libre-data/3028 2.csv', header=None)

In [5]:
example2 = pd.read_csv('test-data/libre-data/3028 2.csv')

In [6]:
person1 = preprocessing.preprocess_df(example1, '3028 2.csv')

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [4]:
person2 = preprocessing.preprocess_df(example2, '3002.csv')

In [11]:
person1.interval

15

In [5]:
df = person1.data

In [7]:
preprocessed_objects = []
for i in [example1, example2]:
    preprocessed_objects.append(preprocessing.preprocess_df(i, '3028 2.csv'))

In [8]:
preprocessed_objects

[<transformData.transformData at 0x1733b864eb0>,
 <transformData.transformData at 0x1733d528c10>]

In [11]:
total_df = pd.DataFrame()
for i in preprocessed_objects:
    if i.usable==True:
        df_id = i.data
        df_id['ID'] = i.id
        total_df = total_df.append(i.data)

In [ ]:
for i in preprocessed_objects:
    if i.usable==True:
        metrics.

In [12]:
total_df

                     time   glc  scan_glc      ID
0     2018-04-20 15:31:00  11.0       NaN    3028
1     2018-04-20 15:35:00   NaN      10.8    3028
2     2018-04-20 15:35:00   NaN       NaN    3028
3     2018-04-20 15:46:00  11.5       NaN    3028
4     2018-04-20 16:01:00  11.9       NaN    3028
...                   ...   ...       ...     ...
21820 2017-10-23 18:58:00   2.6       NaN  3028 2
21821 2017-10-23 19:13:00   2.2       NaN  3028 2
21823 2017-10-23 19:28:00   2.2       NaN  3028 2
21824 2017-10-23 19:44:00   2.2       NaN  3028 2
21826 2017-10-23 19:58:00   2.2       NaN  3028 2

[41697 rows x 4 columns]

In [ ]:
person1 = checkDevices.checkDevices(example1)

hello

c:\Users\cr591\Anaconda3\envs\streamlit\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [3]:
person2 = checkDevices.checkDevices(example2)

hello

In [4]:
uk_data = person2.data
us_data = person2.data

In [5]:
us_data['glc'] = us_data['glc']/0.0557

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [4]:
person1.data

                   time   glc scan_glc
0      20-04-2018 15:31  11.0      NaN
1      20-04-2018 15:35   NaN     10.8
2      20-04-2018 15:35   NaN      NaN
3      20-04-2018 15:46  11.5      NaN
4      20-04-2018 16:01  11.9      NaN
...                 ...   ...      ...
21822  23-10-2017 19:44   2.2      NaN
21823  23-10-2017 19:50   NaN      2.2
21824  23-10-2017 19:58   2.2      NaN
21825  23-10-2017 20:06   NaN      2.2
21826  23-10-2017 20:13   NaN      2.2

[21827 rows x 3 columns]

In [30]:
if pd.notnull(example1.iloc[0,2]):
    print('booo')

In [27]:
if example1.iloc[0,2]:
    print('booo')

booo

In [10]:
header =['Meter',	'Serial Number',	'Meter Timestamp',	'Record Type',	'Historic Glucose(mmol/L)',	'Scan Glucose(mmol/L)']

In [16]:
print(set(example1.iloc[1]))

{nan, 'Scan Glucose(mmol/L)', 'Correction Insulin (units)', 'Historic Glucose(mmol/L)', 'Rapid-Acting Insulin (units)', 'Non-numeric Rapid-Acting Insulin', 'Long-Acting Insulin (units)', 'Serial Number', 'Notes', 'Carbohydrates (servings)', 'Ketone(mmol/L)', 'Record Type', 'Carbohydrates (grams)', 'Non-numeric Long-Acting Insulin', 'Non-numeric Food', 'Meter', 'User Change Insulin (units)', 'Strip Glucose(mmol/L)', 'Meter Timestamp', 'Meal Insulin (units)'}

In [17]:
if set(header).issubset(set(example1.iloc[1])):
    print('booo')

booobs

In [5]:
example1.count().max()

21829

In [3]:
preprocessing.preprocess_data(example1)

{'dt': ['14-09-2018'], 'glc_uk': ['Robert Andrews'], 'glc_us': []}

                   time   glc
0      20-04-2018 15:31  11.0
1      20-04-2018 15:46  11.5
2      20-04-2018 16:01  11.9
3      20-04-2018 16:16  12.7
4      20-04-2018 16:31  13.1
...                 ...   ...
19865  23-10-2017 18:58   2.6
19866  23-10-2017 19:13   2.2
19867  23-10-2017 19:28   2.2
19868  23-10-2017 19:44   2.2
19869  23-10-2017 19:58   2.2

[19870 rows x 2 columns]